
body {
    background-color: bisque;
}

a {
    text-decoration: none;
}

a:link {
    color: coral;
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: grey;
    display: block;
}

a:active {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    
}

/*
ul {
    list-style: none;
    text-align: center;
}
*/

#imgs {
    align-content: flex-start;
    padding: 10px;
}

img [src*"3 - "]
{
    shape-outside: none;
    
}

h1 {
    text-transform: uppercase;  
    padding: 15px;
    font-family: fantasy;
    background-color: coral;
    font-size: 4em;
    font-variant: small-caps;
    align-items: left;
}

p {
    text-transform: uppercase;
    padding: 20px;
    font-style: medium;
}

header {
    padding: 20px;
    font-size: 2em;
}

nav footer {
    background-color: coral;  
}


nav ul li {
    float: left;
    display: block;
    border-right: 2px solid  rgb(0, 0, 0);
    line-height: 2em;
    width: 12em;
    text-align: center;
}

h2, h4 {
    padding-left: 20px;
}

p, ol, li {
    text-decoration: underline;
}


footer {
    background-color: coral;
}